<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecfac62e-2ca6-4cd5-83b2-8e31808032d4" Alias="[BlockList] Page About Blocks" Level="2">
  <Info>
    <Name>[BlockList] Page About Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "52305977-de66-435d-ac19-0334ffa3c768"
    },
    {
      "contentElementTypeKey": "a3c9ca51-93e4-4d63-9a2f-22d600f8caf0"
    },
    {
      "contentElementTypeKey": "d17c3319-6002-4f11-8b04-03f4a4608834"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>