<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9944c4f2-1ea6-4208-9e04-1f932cb8c8c4" Alias="[BlockList] Carousel Picker" Level="2">
  <Info>
    <Name>[BlockList] Carousel Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "080d4bcb-46a0-46b4-adee-c5c9ca599b91"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>