<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91493887-5a2a-4768-ad9e-e7e35a1495de" Alias="[BlockList] Text Article Blocks" Level="2">
  <Info>
    <Name>[BlockList] Text Article Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6333fccc-2c6e-41b9-86bb-c7cf63e335cd"
    },
    {
      "contentElementTypeKey": "127f3e27-ecb5-4583-b481-d4c941e4a04e"
    },
    {
      "contentElementTypeKey": "5fc2d07e-7550-44a4-8eff-e1606e5557ba"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>