<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b836161-8aa5-4975-8b4b-38e7e2fa8f30" Alias="[BlockList] Page Home Blocks" Level="2">
  <Info>
    <Name>[BlockList] Page Home Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6333fccc-2c6e-41b9-86bb-c7cf63e335cd"
    },
    {
      "contentElementTypeKey": "52305977-de66-435d-ac19-0334ffa3c768"
    },
    {
      "contentElementTypeKey": "efe4dc3c-8ccb-4a28-834f-c6f3a934c6e3"
    },
    {
      "contentElementTypeKey": "d17c3319-6002-4f11-8b04-03f4a4608834"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false
}]]></Config>
</DataType>