<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e146d4a5-dcb1-4e28-b122-1abee586fe21" Alias="[BlockList] Footer Link Picker" Level="2">
  <Info>
    <Name>[BlockList] Footer Link Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b3693622-e8d3-4160-a7ae-fdf38aba0f79"
    }
  ],
  "useInlineEditingAsDefault": true,
  "validationLimit": {
    "min": 2,
    "max": 2
  }
}]]></Config>
</DataType>