<?xml version="1.0" encoding="utf-8"?>
<DataType Key="072c767d-45b8-4a13-ad58-066f72798dd5" Alias="[BlockList] Research Picker" Level="2">
  <Info>
    <Name>[BlockList] Research Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "327015fa-da6e-4cd3-9680-7bf236ca8611"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>