<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89bf39fc-1fdf-4262-8e1f-d9200dba6b97" Alias="[ContentPicker] Single Employee Picker" Level="2">
  <Info>
    <Name>[ContentPicker] Single Employee Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "15800d33-1d19-41bd-9c3a-ffb64a5c845d",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": []
    }
  }
}]]></Config>
</DataType>