<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3150750a-5990-4a55-aea2-ea4fdd8c6fbb" Alias="[Custom] Single URL Picker" Level="2">
  <Info>
    <Name>[Custom] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>