<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dcfd5dbc-b8f7-4a66-b9da-2660a1197595" Alias="[Dropdown] Research Type" Level="2">
  <Info>
    <Name>[Dropdown] Research Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "External Research",
    "Own Research"
  ]
}]]></Config>
</DataType>