<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73f73bca-3f8f-4bb2-b62b-01415564cabd" Alias="[RTE] Article Rich Text" Level="2">
  <Info>
    <Name>[RTE] Article Rich Text</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "undo",
    "redo",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "link",
    "unlink"
  ]
}]]></Config>
</DataType>