<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acc847bd-d34c-463e-81c8-bf7b773a1925" Alias="articleProperties" Level="2">
  <Info>
    <Name>ArticleProperties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Properties</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>459000a1-e705-425b-bb47-aa340d35cd0e</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>89bf39fc-1fdf-4262-8e1f-d9200dba6b97</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Author of Article.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="meta/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Article must have an Author.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ffef5af-e227-4b2e-8aff-a8d7c4b2866f</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Date to be shown on Article.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="meta/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13a266cd-020a-46b0-9f69-031343f95730</Key>
      <Caption>Meta</Caption>
      <Alias>meta</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>70564447-2cd9-4aab-a7e6-e5659301fc9f</Key>
      <Caption>Article</Caption>
      <Alias>meta/article</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>