<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52305977-de66-435d-ac19-0334ffa3c768" Alias="blockListItemTextWithImages" Level="3">
  <Info>
    <Name>[BlockListItem] Text with Images</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/BlockListItems</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c641deff-6349-4e4c-98b8-96df746d63a0</Key>
      <Name>Block Text</Name>
      <Alias>blockText</Alias>
      <Definition>73f73bca-3f8f-4bb2-b62b-01415564cabd</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Rich text for to show.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27950103-f11e-4266-9577-5cd3b2ffeb70</Key>
      <Name>Block Title</Name>
      <Alias>blockTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e0cb4bc-bc71-4b29-a89a-4314275839c2</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Images to show.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>11e2e2b2-518c-4bcf-830c-aef26a9e8952</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9b07dfa9-b4cd-49c8-b79c-a46a361d8822</Key>
      <Caption>Block</Caption>
      <Alias>content/block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>