<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="327015fa-da6e-4cd3-9680-7bf236ca8611" Alias="blockListItemResearchLink" Level="3">
  <Info>
    <Name>[BlockListItem] Research Link</Name>
    <Icon>icon-book-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/BlockListItems</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3298a09-8116-4b37-815d-8ab1fc083a42</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>3150750a-5990-4a55-aea2-ea4fdd8c6fbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Actual content Link.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc918df3-2994-4cf9-a1cd-09c3503fdec4</Key>
      <Name>Link Description</Name>
      <Alias>linkDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description of what the link is for.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b6f19ad-c1f7-44a8-9be3-a40d5789bae7</Key>
      <Name>Link Image</Name>
      <Alias>linkImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for Link.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a5b4597-3753-4800-baa6-d47c362f713d</Key>
      <Name>Link Title</Name>
      <Alias>linkTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of link.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>614fc98f-e747-434d-9132-535f0627b09c</Key>
      <Name>Link Type</Name>
      <Alias>linkType</Alias>
      <Definition>dcfd5dbc-b8f7-4a66-b9da-2660a1197595</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>393545f8-fcd8-42fc-b227-988472bc81c4</Key>
      <Caption>Block</Caption>
      <Alias>content/block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dbfb69b0-7482-48e6-bdfb-fd0043f82a25</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>