<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3c9ca51-93e4-4d63-9a2f-22d600f8caf0" Alias="blockListItemFeaturedLinkSquares" Level="2">
  <Info>
    <Name>[BlockListItem] Featured Link Squares</Name>
    <Icon>icon-grid color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9faa452b-4472-4261-89dc-8e5da437af35</Key>
      <Name>Featured Links</Name>
      <Alias>featuredLinks</Alias>
      <Definition>9944c4f2-1ea6-4208-9e04-1f932cb8c8c4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to feature.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9c9b338d-e3f3-4313-9f92-be80428ed854</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6040b54-a53b-42b2-aca7-78d80d6bb55d</Key>
      <Caption>Block</Caption>
      <Alias>content/block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>