<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efe4dc3c-8ccb-4a28-834f-c6f3a934c6e3" Alias="blockListItemFeaturedLinkCarousel" Level="3">
  <Info>
    <Name>[BlockListItem] Featured Link Carousel</Name>
    <Icon>icon-coverflow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/BlockListItems</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1f4983ad-6161-44ba-acbd-70a7a9e11a25</Key>
      <Name>Featured Links</Name>
      <Alias>featuredLinks</Alias>
      <Definition>9944c4f2-1ea6-4208-9e04-1f932cb8c8c4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to feature.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39aca9aa-a877-42dd-9b42-9479a65c50ab</Key>
      <Caption>Block</Caption>
      <Alias>content/block</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d701ef70-96ff-44b1-b9ba-b0df97cddbab</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>