<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="543c74f6-7e2d-49b6-b320-3fc3123b3709" Alias="footerProperties" Level="2">
  <Info>
    <Name>Footer Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Properties</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1817f89-cd4f-47be-812a-2e03e65a8751</Key>
      <Name>Hide from Footer</Name>
      <Alias>hideFromFooter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should this page be hidden from the footer?]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="meta/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3b4893ef-d589-414a-a5a3-1d9aed333450</Key>
      <Caption>Footer</Caption>
      <Alias>meta/footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d3349022-3665-43b1-b120-0f724baaebba</Key>
      <Caption>Meta</Caption>
      <Alias>meta</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>