<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c2d083d-0c48-4b61-bed1-7ab9c79a54a8" Alias="pageEmployees" Level="2">
  <Info>
    <Name>[Page] Employees</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="15800d33-1d19-41bd-9c3a-ffb64a5c845d" SortOrder="0">pageEmployee</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>