<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f535a03e-2bd2-4f68-83c6-56589c6ada8a" Alias="pageMediaArticle" Level="2">
  <Info>
    <Name>[Page] Media Article</Name>
    <Icon>icon-tv color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="acc847bd-d34c-463e-81c8-bf7b773a1925">articleProperties</Composition>
      <Composition Key="543c74f6-7e2d-49b6-b320-3fc3123b3709">footerProperties</Composition>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageMediaArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00b51818-a72f-4557-b2a0-96486ffcb03f">pageMediaArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2e14bda5-2df1-4d5d-9241-0b6a51dd0a7a</Key>
      <Name>Article blocks</Name>
      <Alias>articleBlocks</Alias>
      <Definition>91493887-5a2a-4768-ad9e-e7e35a1495de</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f882c46f-9934-449a-a364-91d4efa5ff39</Key>
      <Name>Media Link</Name>
      <Alias>mediaLink</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e4df936-9e7c-4f95-9122-08ed7810e0bd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>39d453d6-2dab-4dd6-afc8-3ad69d664cbd</Key>
      <Caption>Article</Caption>
      <Alias>content/article</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>