<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15800d33-1d19-41bd-9c3a-ffb64a5c845d" Alias="pageEmployee" Level="2">
  <Info>
    <Name>[Page] Employee</Name>
    <Icon>icon-vcard color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="543c74f6-7e2d-49b6-b320-3fc3123b3709">footerProperties</Composition>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>95923ffd-7a1f-44e0-bda1-3a1fa4db2bca</Key>
      <Name>Employee Image</Name>
      <Alias>employeeImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image of Employee]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b29f19bf-9498-4ae3-bbb4-509002a8877c</Key>
      <Name>Employee Name</Name>
      <Alias>employeeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name of employee]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>489fbce9-a89b-4a4a-b23b-5437274c6ea7</Key>
      <Name>Short Description</Name>
      <Alias>shortDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Short description of Employee]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>87cd115e-0527-472e-adbd-44a0a1ffc8a6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d8a86ef4-8f2f-4663-8cfc-d77d2ebc241d</Key>
      <Caption>Information</Caption>
      <Alias>content/information</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>