<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e219e8d4-2e7e-40b3-b13f-616ae02576db" Alias="pageContact" Level="2">
  <Info>
    <Name>[Page] Contact</Name>
    <Icon>icon-phone color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>pageContact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="57543ebe-1b2c-4367-934a-16ec923e2b60">pageContact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>