<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5216daf-93eb-4205-bda5-b710151c96e5" Alias="pageCategory" Level="2">
  <Info>
    <Name>[Page] Category</Name>
    <Icon>icon-documents color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="543c74f6-7e2d-49b6-b320-3fc3123b3709">footerProperties</Composition>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageCategory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98b022f1-aac2-42be-a866-3cabf9e6c839">pageCategory</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f535a03e-2bd2-4f68-83c6-56589c6ada8a" SortOrder="0">pageMediaArticle</ContentType>
    <ContentType Key="02c87b06-49c9-43fa-bb91-1617c4f8e266" SortOrder="1">pageTextArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>