<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3fca3bd0-9b4c-4d49-bfc4-9c0c9e37f983" Alias="pageBlog" Level="2">
  <Info>
    <Name>[Page] Blog</Name>
    <Icon>icon-categories color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageBlog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5e989f4b-feb1-45cc-a50a-481f585672f0">pageBlog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b5216daf-93eb-4205-bda5-b710151c96e5" SortOrder="0">pageCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>