<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02c87b06-49c9-43fa-bb91-1617c4f8e266" Alias="pageTextArticle" Level="2">
  <Info>
    <Name>[Page] Text Article</Name>
    <Icon>icon-newspaper color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="acc847bd-d34c-463e-81c8-bf7b773a1925">articleProperties</Composition>
      <Composition Key="543c74f6-7e2d-49b6-b320-3fc3123b3709">footerProperties</Composition>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageTextArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="827edb3e-26be-4f84-9bcd-7e445ebd606c">pageTextArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9f888dc-7b8c-4a7c-b618-c1c6fcfffccc</Key>
      <Name>Article blocks</Name>
      <Alias>articleBlocks</Alias>
      <Definition>91493887-5a2a-4768-ad9e-e7e35a1495de</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Blocks with Article content]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>565f2a7d-a252-4cf6-a9f7-47ea46153ffd</Key>
      <Name>Article Image</Name>
      <Alias>articleImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for Article header.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>52988dd8-d00a-4602-91c0-a811f998349f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>965ea55b-636c-4aed-ba88-a8707c072a26</Key>
      <Caption>Article</Caption>
      <Alias>content/article</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>