<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02c87b06-49c9-43fa-bb91-1617c4f8e266" Alias="pageTextArticle" Level="2">
  <Info>
    <Name>[Page] Text Article</Name>
    <Icon>icon-newspaper color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>pageTextArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="827edb3e-26be-4f84-9bcd-7e445ebd606c">pageTextArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>