<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c68a4fe-d35f-40ac-8349-674aae225baf" Alias="pageHome" Level="2">
  <Info>
    <Name>[Page] Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageHome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5e32944-cd34-4fff-a3eb-1e1a9f6815c9">pageHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e219e8d4-2e7e-40b3-b13f-616ae02576db" SortOrder="0">pageContact</ContentType>
    <ContentType Key="fa1a3de3-d9a7-4639-9f44-6ea6feee8e4b" SortOrder="1">pageAbout</ContentType>
    <ContentType Key="3fca3bd0-9b4c-4d49-bfc4-9c0c9e37f983" SortOrder="2">pageBlog</ContentType>
    <ContentType Key="9c2d083d-0c48-4b61-bed1-7ab9c79a54a8" SortOrder="3">pageEmployees</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>