<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f535a03e-2bd2-4f68-83c6-56589c6ada8a" Alias="pageMediaArticle" Level="2">
  <Info>
    <Name>[Page] Media Article</Name>
    <Icon>icon-tv color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="acc847bd-d34c-463e-81c8-bf7b773a1925">articleProperties</Composition>
      <Composition Key="543c74f6-7e2d-49b6-b320-3fc3123b3709">footerProperties</Composition>
      <Composition Key="2664b3bd-9456-425a-ab05-12dc5bc630f3">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>pageMediaArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00b51818-a72f-4557-b2a0-96486ffcb03f">pageMediaArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>