<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa1a3de3-d9a7-4639-9f44-6ea6feee8e4b" Alias="pageAbout" Level="2">
  <Info>
    <Name>[Page] About</Name>
    <Icon>icon-info color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>pageAbout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="13b7fa9d-2bea-432a-83b8-5722458fd8e1">pageAbout</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>