<?xml version="1.0" encoding="utf-8"?>
<Content Key="626e38f7-9389-4a54-9f74-7c5381cc8b51" Alias="About" Level="2">
  <Info>
    <Parent Key="e49c11dd-935e-44f6-b859-ed9c2aa50819">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>pageAbout</ContentType>
    <CreateDate>2024-12-22T22:01:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13b7fa9d-2bea-432a-83b8-5722458fd8e1">pageAbout</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>