<?xml version="1.0" encoding="utf-8"?>
<Content Key="a924e7b0-5642-46af-8042-53d0014308eb" Alias="Authors" Level="2">
  <Info>
    <Parent Key="e49c11dd-935e-44f6-b859-ed9c2aa50819">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEmployees</ContentType>
    <CreateDate>2024-12-22T23:24:57</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>