<?xml version="1.0" encoding="utf-8"?>
<Content Key="6af41af8-4758-4c16-9a00-93858884b905" Alias="Authors" Level="2">
  <Info>
    <Parent Key="8f95d836-9f61-4487-8121-e43028b424ff">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEmployees</ContentType>
    <CreateDate>2024-12-23T21:48:01</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>