<?xml version="1.0" encoding="utf-8"?>
<Content Key="346ec619-9917-418a-918d-9061df64fb6a" Alias="Bethany Mostert" Level="3">
  <Info>
    <Parent Key="a924e7b0-5642-46af-8042-53d0014308eb">Authors</Parent>
    <Path>/Home/Authors/BethanyMostert</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEmployee</ContentType>
    <CreateDate>2024-12-22T23:25:11</CreateDate>
    <NodeName Default="Bethany Mostert" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <employeeImage>
      <Value><![CDATA[]]></Value>
    </employeeImage>
    <employeeName>
      <Value><![CDATA[]]></Value>
    </employeeName>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
  </Properties>
</Content>