<?xml version="1.0" encoding="utf-8"?>
<Content Key="8997508a-2d48-4009-ad27-1458cc5d6fbb" Alias="Bethany Mostert" Level="3">
  <Info>
    <Parent Key="6af41af8-4758-4c16-9a00-93858884b905">Authors</Parent>
    <Path>/Home/Authors/BethanyMostert</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEmployee</ContentType>
    <CreateDate>2024-12-23T21:48:12</CreateDate>
    <NodeName Default="Bethany Mostert" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <employeeImage>
      <Value><![CDATA[[
  {
    "key": "76a43575-e05c-41db-9554-a1f23c3f8726",
    "mediaKey": "574acd0f-e404-409f-b9d6-dcdf7be296e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeeImage>
    <employeeName>
      <Value><![CDATA[Bethany Mostert]]></Value>
    </employeeName>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <shortDescription>
      <Value><![CDATA[Hello! My name is Bethany Mostert and I am a Canadian citizen conducting graduate studies at North Carolina State University in Plant Biology. This blog is a way for me to share some of my research experiences and my take on how science is conducted and how it can be improved upon. Here, I feature both written posts and podcasts.]]></Value>
    </shortDescription>
  </Properties>
</Content>