<?xml version="1.0" encoding="utf-8"?>
<Content Key="22e0d701-7975-4baa-8f66-6b407cb8616d" Alias="Blog" Level="2">
  <Info>
    <Parent Key="e49c11dd-935e-44f6-b859-ed9c2aa50819">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>pageBlog</ContentType>
    <CreateDate>2024-12-22T22:01:05</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e989f4b-feb1-45cc-a50a-481f585672f0">pageBlog</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Blog]]></Value>
    </pageTitle>
  </Properties>
</Content>