<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb152f29-4904-43c1-aa06-2722dfd5ba96" Alias="Blog" Level="2">
  <Info>
    <Parent Key="8f95d836-9f61-4487-8121-e43028b424ff">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>pageBlog</ContentType>
    <CreateDate>2024-12-23T21:47:39</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e989f4b-feb1-45cc-a50a-481f585672f0">pageBlog</Template>
  </Info>
  <Properties>
    <hideFromFooter>
      <Value><![CDATA[1]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Blog]]></Value>
    </pageTitle>
  </Properties>
</Content>