<?xml version="1.0" encoding="utf-8"?>
<Content Key="c37aacf9-55ce-48a7-9fda-11779116848f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8f95d836-9f61-4487-8121-e43028b424ff">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContact</ContentType>
    <CreateDate>2024-12-23T21:47:54</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57543ebe-1b2c-4367-934a-16ec923e2b60">pageContact</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[100 Derieux Place Gardner Hall, Raleigh NC]]></Value>
    </address>
    <email>
      <Value><![CDATA[bhmoster@ncsu.edu]]></Value>
    </email>
    <googleMapsLink>
      <Value><![CDATA[https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.0953107677857!2d-78.67176086569188!3d35.78720259102267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acf5c4fc64b0b3%3A0x6d0013362e9b4f8f!2sGardner%20Hall!5e0!3m2!1sda!2sdk!4v1735031913412!5m2!1sda!2sdk]]></Value>
    </googleMapsLink>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <phoneNumber>
      <Value><![CDATA[]]></Value>
    </phoneNumber>
  </Properties>
</Content>