<?xml version="1.0" encoding="utf-8"?>
<Content Key="68133be4-3a11-4391-baa0-ec61214dc3ce" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e49c11dd-935e-44f6-b859-ed9c2aa50819">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContact</ContentType>
    <CreateDate>2024-12-22T22:01:31</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57543ebe-1b2c-4367-934a-16ec923e2b60">pageContact</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>