<?xml version="1.0" encoding="utf-8"?>
<Content Key="c37aacf9-55ce-48a7-9fda-11779116848f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8f95d836-9f61-4487-8121-e43028b424ff">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContact</ContentType>
    <CreateDate>2024-12-23T21:47:54</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57543ebe-1b2c-4367-934a-16ec923e2b60">pageContact</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>