<?xml version="1.0" encoding="utf-8"?>
<Content Key="50535bae-8f3f-45ff-892e-e9e97a4eaa84" Alias="Foraging for Morels" Level="4">
  <Info>
    <Parent Key="29dbf481-5029-4db6-bd77-97a0ae649c59">Podcasts</Parent>
    <Path>/Home/Blog/Podcasts/ForagingForMorels</Path>
    <Trashed>false</Trashed>
    <ContentType>pageMediaArticle</ContentType>
    <CreateDate>2024-12-25T02:36:48</CreateDate>
    <NodeName Default="Foraging for Morels" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00b51818-a72f-4557-b2a0-96486ffcb03f">pageMediaArticle</Template>
  </Info>
  <Properties>
    <articleBlocks>
      <Value><![CDATA[]]></Value>
    </articleBlocks>
    <articleTitle>
      <Value><![CDATA[Foraging for Morels: What Indigenous Teachings Have to Say About Food Sovereignty]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/8997508a2d484009ad271458cc5d6fbb]]></Value>
    </author>
    <cardDescription>
      <Value><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value><![CDATA[[
  {
    "key": "6fb94984-fac8-4761-b3a7-947bbe8982c1",
    "mediaKey": "0a361a22-2714-4766-accc-cc848fef4939",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardImage>
    <cardTitle>
      <Value><![CDATA[Foraging for Morels]]></Value>
    </cardTitle>
    <date>
      <Value><![CDATA[2023-01-09T00:00:00]]></Value>
    </date>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <mediaLink>
      <Value><![CDATA[https://w.soundcloud.com/player/?url=https://soundcloud.com/bethany-mostert/food-sovereignty-and-indigenous-ecology&visual=true&buying=false&liking=false&download=false&sharing=false&show_comments=false&show_playcount=false&callback=true]]></Value>
    </mediaLink>
    <pageTitle>
      <Value><![CDATA[Foraging for Morels]]></Value>
    </pageTitle>
    <tags>
      <Value><![CDATA[[
  "Foraging",
  "Podcast",
  "Indigenous",
  "Teaching",
  "Food",
  "Sovereignty"
]]]></Value>
    </tags>
  </Properties>
</Content>