<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a755e52-5b4f-4304-9cdd-80a915a8af9b" Alias="Inclusiveness and Diversity" Level="3">
  <Info>
    <Parent Key="22e0d701-7975-4baa-8f66-6b407cb8616d">Blog</Parent>
    <Path>/Home/Blog/InclusivenessAndDiversity</Path>
    <Trashed>false</Trashed>
    <ContentType>pageCategory</ContentType>
    <CreateDate>2024-12-22T22:02:16</CreateDate>
    <NodeName Default="Inclusiveness and Diversity" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98b022f1-aac2-42be-a866-3cabf9e6c839">pageCategory</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Inclusiveness and Diversity]]></Value>
    </pageTitle>
  </Properties>
</Content>