<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea6b26ce-c740-4a71-9725-a6d45f42ae64" Alias="Knowledge Equity in the Biotechnology Industry" Level="4">
  <Info>
    <Parent Key="29dbf481-5029-4db6-bd77-97a0ae649c59">Podcasts</Parent>
    <Path>/Home/Blog/Podcasts/KnowledgeEquityInTheBiotechnologyIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>pageMediaArticle</ContentType>
    <CreateDate>2024-12-25T02:38:19</CreateDate>
    <NodeName Default="Knowledge Equity in the Biotechnology Industry" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00b51818-a72f-4557-b2a0-96486ffcb03f">pageMediaArticle</Template>
  </Info>
  <Properties>
    <articleBlocks>
      <Value><![CDATA[]]></Value>
    </articleBlocks>
    <articleTitle>
      <Value><![CDATA[Knowledge Equity in the Biotechnology Industry]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/8997508a2d484009ad271458cc5d6fbb]]></Value>
    </author>
    <cardDescription>
      <Value><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value><![CDATA[[
  {
    "key": "d1ba8f62-0144-4b2f-8826-ccb751fd4bc4",
    "mediaKey": "efa5a361-fb2e-445b-a9e7-e98ca2d82fa5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardImage>
    <cardTitle>
      <Value><![CDATA[Knowledge Equity in the Biotechnology Industry]]></Value>
    </cardTitle>
    <date>
      <Value><![CDATA[2023-01-09T00:00:00]]></Value>
    </date>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <mediaLink>
      <Value><![CDATA[https://w.soundcloud.com/player/?url=https://soundcloud.com/bethany-mostert/agricultural-biotechnology-and-localized-food-systems&visual=true&buying=false&liking=false&download=false&sharing=false&show_comments=false&show_playcount=false&callback=true]]></Value>
    </mediaLink>
    <pageTitle>
      <Value><![CDATA[Knowledge Equity in the Biotechnology Industry]]></Value>
    </pageTitle>
    <tags>
      <Value><![CDATA[[
  "Knowledge Equity",
  "Biotechnology",
  "Industry"
]]]></Value>
    </tags>
  </Properties>
</Content>