<?xml version="1.0" encoding="utf-8"?>
<Content Key="29dbf481-5029-4db6-bd77-97a0ae649c59" Alias="Podcasts" Level="3">
  <Info>
    <Parent Key="bb152f29-4904-43c1-aa06-2722dfd5ba96">Blog</Parent>
    <Path>/Home/Blog/Podcasts</Path>
    <Trashed>false</Trashed>
    <ContentType>pageCategory</ContentType>
    <CreateDate>2024-12-25T02:35:00</CreateDate>
    <NodeName Default="Podcasts" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98b022f1-aac2-42be-a866-3cabf9e6c839">pageCategory</Template>
  </Info>
  <Properties>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[Podcasts]]></Value>
    </pageTitle>
  </Properties>
</Content>