<?xml version="1.0" encoding="utf-8"?>
<Content Key="a729b9eb-e927-42d0-ad37-8d4161d6239b" Alias="Text Article" Level="4">
  <Info>
    <Parent Key="3a755e52-5b4f-4304-9cdd-80a915a8af9b">Inclusiveness and Diversity</Parent>
    <Path>/Home/Blog/InclusivenessAndDiversity/TextArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTextArticle</ContentType>
    <CreateDate>2024-12-23T15:00:41</CreateDate>
    <NodeName Default="Text Article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="827edb3e-26be-4f84-9bcd-7e445ebd606c">pageTextArticle</Template>
  </Info>
  <Properties>
    <articleBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6333fccc-2c6e-41b9-86bb-c7cf63e335cd",
      "udi": "umb://element/a647956b84c849e78c2aa8b69355048a",
      "bodyText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003Etest test\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "5fc2d07e-7550-44a4-8eff-e1606e5557ba",
      "udi": "umb://element/24ec89eea4484022a37f80c72b6686db",
      "text": "quote test"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a647956b84c849e78c2aa8b69355048a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/24ec89eea4484022a37f80c72b6686db",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </articleBlocks>
    <articleImage>
      <Value><![CDATA[]]></Value>
    </articleImage>
    <articleTitle>
      <Value><![CDATA[]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/346ec6199917418a918d9061df64fb6a]]></Value>
    </author>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>