<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c045425-a861-44f8-a561-6834ba69659e" Alias="Articles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T02:44:06</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>