<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d8805ed-5b91-4ae7-850e-546a361616d8" Alias="Authors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T03:06:15</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>