<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f1df91d-1a97-464e-9264-15eef21baa55" Alias="Beach" Level="3">
  <Info>
    <Parent Key="b6cd5482-01be-4def-8956-b07c47bf7347">What I Learned Dancing to Bomba Music</Parent>
    <Path>/Articles/WhatILearnedDancingToBombaMusic/Beach</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T02:46:00</CreateDate>
    <NodeName Default="Beach" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/sizfxcp4/beach.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>