<?xml version="1.0" encoding="utf-8"?>
<Media Key="574acd0f-e404-409f-b9d6-dcdf7be296e8" Alias="Bethany Mostert" Level="2">
  <Info>
    <Parent Key="7d8805ed-5b91-4ae7-850e-546a361616d8">Authors</Parent>
    <Path>/Authors/BethanyMostert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:06:30</CreateDate>
    <NodeName Default="Bethany Mostert" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qadbzyln/profile.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>