<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ee29e1d-84ca-4329-bf1d-68bd0d9f7b64" Alias="Burger and Fries" Level="3">
  <Info>
    <Parent Key="b95c6ed5-adfe-4bb7-9b99-ef6f8b343ae4">Making the Classroom more fun</Parent>
    <Path>/Articles/MakingTheClassroomMoreFun/BurgerAndFries</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T02:44:49</CreateDate>
    <NodeName Default="Burger and Fries" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/sjkkj4fd/burger_and_fries.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>