<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6b32706-224a-42f7-adbd-3f74c2f6256e" Alias="Butterfly on flower" Level="2">
  <Info>
    <Parent Key="83ea99c1-1e0d-4895-a307-fce0419c41cc">Misc</Parent>
    <Path>/Misc/ButterflyOnFlower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:28:14</CreateDate>
    <NodeName Default="Butterfly on flower" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rhwpkqbd/dominik-qn-8jvne80zszy-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>