<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3fbf565-b8a9-47ba-9174-ecd28b161299" Alias="Conference Chair Anthropology" Level="2">
  <Info>
    <Parent Key="4c045425-a861-44f8-a561-6834ba69659e">Articles</Parent>
    <Path>/Articles/ConferenceChairAnthropology</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T02:45:13</CreateDate>
    <NodeName Default="Conference Chair Anthropology" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>