<?xml version="1.0" encoding="utf-8"?>
<Media Key="36119750-9fe9-443f-b8a6-23af6ba1843f" Alias="Foraging for Morels" Level="2">
  <Info>
    <Parent Key="f33d4899-6628-45ed-b8c8-0c4d0681dd0e">Podcasts</Parent>
    <Path>/Podcasts/ForagingForMorels</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T03:12:20</CreateDate>
    <NodeName Default="Foraging for Morels" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>