<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f1e67f4-1901-4c88-8775-4b3ea6bac64b" Alias="Knowledge Equity in the Biotechnology Industry" Level="2">
  <Info>
    <Parent Key="f33d4899-6628-45ed-b8c8-0c4d0681dd0e">Podcasts</Parent>
    <Path>/Podcasts/KnowledgeEquityInTheBiotechnologyIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T03:12:03</CreateDate>
    <NodeName Default="Knowledge Equity in the Biotechnology Industry" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>