<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aedea8c-3971-4249-86c3-a5e5c1928e56" Alias="Leaves from above" Level="2">
  <Info>
    <Parent Key="83ea99c1-1e0d-4895-a307-fce0419c41cc">Misc</Parent>
    <Path>/Misc/LeavesFromAbove</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:28:29</CreateDate>
    <NodeName Default="Leaves from above" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/amqkxxay/nahil-naseer-xljtgz2-p3y-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>