<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c547a1a-232d-483f-87ed-e40bef65065c" Alias="Loki" Level="3">
  <Info>
    <Parent Key="b95c6ed5-adfe-4bb7-9b99-ef6f8b343ae4">Making the Classroom more fun</Parent>
    <Path>/Articles/MakingTheClassroomMoreFun/Loki</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T02:45:00</CreateDate>
    <NodeName Default="Loki" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/swybfose/loki.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>