<?xml version="1.0" encoding="utf-8"?>
<Media Key="380ac345-c070-4dc4-a689-a0b78c1deb1b" Alias="Maize" Level="3">
  <Info>
    <Parent Key="c3fbf565-b8a9-47ba-9174-ecd28b161299">Conference Chair Anthropology</Parent>
    <Path>/Articles/ConferenceChairAnthropology/Maize</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T02:45:23</CreateDate>
    <NodeName Default="Maize" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ziefzdqz/maize.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>