<?xml version="1.0" encoding="utf-8"?>
<Media Key="b95c6ed5-adfe-4bb7-9b99-ef6f8b343ae4" Alias="Making the Classroom more fun" Level="2">
  <Info>
    <Parent Key="4c045425-a861-44f8-a561-6834ba69659e">Articles</Parent>
    <Path>/Articles/MakingTheClassroomMoreFun</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T02:44:24</CreateDate>
    <NodeName Default="Making the Classroom more fun" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>