<?xml version="1.0" encoding="utf-8"?>
<Media Key="83ea99c1-1e0d-4895-a307-fce0419c41cc" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T03:27:34</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>