<?xml version="1.0" encoding="utf-8"?>
<Media Key="efa5a361-fb2e-445b-a9e7-e98ca2d82fa5" Alias="Mushroom" Level="3">
  <Info>
    <Parent Key="8f1e67f4-1901-4c88-8775-4b3ea6bac64b">Knowledge Equity in the Biotechnology Industry</Parent>
    <Path>/Podcasts/KnowledgeEquityInTheBiotechnologyIndustry/Mushroom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:12:47</CreateDate>
    <NodeName Default="Mushroom" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3zupgwkh/podcast_knowledge.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>