<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a361a22-2714-4766-accc-cc848fef4939" Alias="Mushroom" Level="3">
  <Info>
    <Parent Key="36119750-9fe9-443f-b8a6-23af6ba1843f">Foraging for Morels</Parent>
    <Path>/Podcasts/ForagingForMorels/Mushroom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:13:00</CreateDate>
    <NodeName Default="Mushroom" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vxihbpd3/podcast_foraging.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>