<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e709826-eb86-43e8-a98b-476de23495f0" Alias="Mushroom in forest" Level="2">
  <Info>
    <Parent Key="83ea99c1-1e0d-4895-a307-fce0419c41cc">Misc</Parent>
    <Path>/Misc/MushroomInForest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T03:28:01</CreateDate>
    <NodeName Default="Mushroom in forest" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vfjdmkhp/manuel-barroso-parejo-m9f8vr0jepm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>