<?xml version="1.0" encoding="utf-8"?>
<Media Key="f33d4899-6628-45ed-b8c8-0c4d0681dd0e" Alias="Podcasts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Podcasts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T03:11:47</CreateDate>
    <NodeName Default="Podcasts" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>