<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7a73d93-2186-46ae-bb2b-e2d0d2e8d944" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-22T21:37:08</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dt1pcupp/appstract-2024-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>