@inherits UmbracoViewPage<BlockListItemFeaturedLinkCarousel>
@{
    var block = new FeaturedLinkCarousel(Model);
}

@if(block.Links.Length > 0)
{
    <section id="slider" class="slider section dark-background">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "centeredSlides": true,
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "navigation": {
                        "nextEl": ".swiper-button-next",
                        "prevEl": ".swiper-button-prev"
                      }
                    }
                </script>

                <div class="swiper-wrapper">
                    @foreach (var link in block.Links)
                    {
                        if (link.Link != null && link.LinkImage != null)
                        {
                            <div class="swiper-slide" style="background-image: url(@link.LinkImage?.Url());">
                                <div class="content">
                                    <h2><a href=@link.Link?.Url>@link.LinkTitle</a></h2>
                                    <p>TODOTODO</p>
                                </div>
                            </div>
                        }
                    })
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
}
