@inherits UmbracoViewPage<BlockListItem>

@{
    var content = Model.Content;
    var block = new FeaturedText(content as BlockListItemFeaturedText);
}

<div class="content">
    <blockquote>
        <p>
            @block.Text
        </p>
    </blockquote>
</div>
