@inherits UmbracoViewPage<BlockListItem>

@{
    var content = Model.Content;
    var block = new ImageBlock(content as BlockListItemImageBlock);
}

@if (block.Image != null)
{
    <div class="content">
        <img src=@block.Image.Url() class="img-fluid" alt="">
    </div>
}
