@inherits UmbracoViewPage<BlockListItem>

@{
    var content = Model.Content;
    var block = new FeaturedLinkSquares(content as BlockListItemFeaturedLinkSquares);
}

@if(block.Links != null)
{
    <section id="team" class="team section">
        <div class="container section-title" data-aos="fade-up">
            <div class="section-title-container d-flex align-items-center justify-content-between">
                <h2>TODOTODO</h2>
                <p>TODOTODO</p>
            </div>
        </div>

        <div class="container">
            <div class="row gy-4">
                @foreach (FeaturedLink link in block.Links)
                {
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>@link.LinkTitle</h4>
                                <span>TODOTODO</span>
                                <p>TODOTODO</p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""> <i class="bi bi-linkedin"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
